# {{ ansible_managed }}

interface={{ wifi_adapter }}
ssid={{ ssid }}
hw_mode=g
channel={{ channel }}
ieee80211n=1
ieee80211d=1
country_code=DE
auth_algs=1

{% if security and security.enabled and security %}
wpa=2
wpa_passphrase={{ security.psk }}
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
{% endif %}

{% if disable_wmm %}
wmm_enabled=0
{% endif %}
